*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container > * {
  flex-shrink: 0;
}


.App {
   font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(45deg, #EAFDFC, #BFEAF5);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #2b3a67;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card.full-width {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.card h2 {
  margin-bottom: 15px;
  color: #2b3a67;
}

.data-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.data-card {
  flex: 1 1 calc(33.333% - 15px);
  background: #f9fafc;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  min-width: 200px;
}

.data-card p {
  margin: 5px 0;
  font-size: 14px;
}

.no-data {
  color: #999;
  font-style: italic;
}
